@import '../global.scss';

.experience {
  background-color: white;

  .header {
    text-align:  center;
    margin-right: 30vw;
    margin-top: 10vh;
    color: $maincolor;
  }

  .experience-details {
    vertical-align: center;
    text-align: left;
    margin-top: 12vh;
    padding-left: 50px;
    width: 100%;
    height: auto;

    .list {
      margin-top: 10px;
      padding-left: 40px;

      li {
        padding-left: 10px;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        list-style-type: circle;
      }
    }
  }
}