@import '../global.scss';

.contacts {
  background-color: white;

  .header {
    margin-left: 50vw;
    margin-top: 18vh;
    color: $maincolor;
  }

  .images {
    margin-left: 35vw;
    margin-top: 20vh;
    display: flex;

    a {
      padding-left: 100px;

      img {
        width: 100px;
        height: 100px;
      }

      button {
        opacity: 0;
        position: absolute;
        padding: 0;
        text-align: center;
      }

      img:hover + button {
        opacity: 1;
      }
    }
  }
}