@import '../global.scss';

.contacts {
  background-color: white;

  .header {
    text-align:  center;
    margin-right: 30vw;
    margin-top: 18vh;
    color: $maincolor;
  }

  .images {
    padding-left: 40px;
    margin-top: 20vh;
    margin-right: 40vw;
    justify-content: center;
    display: flex;

    a {
      padding-left: 100px;

      img {
        width: 100px;
        height: 100px;
      }

      button {
        opacity: 0;
        position: absolute;
        padding: 0;
        text-align: center;
      }

      img:hover + button {
        opacity: 1;
      }
    }
  }
  @media only screen and (max-width: 1080px) {
    .images {
      display: flex;
      flex-direction: column;
    }
  }
}