@import '../global.scss';

.cover-page {
  background-color: white;

  .header {
    text-align:  center;
    margin-right: 30vw;
    margin-top: 10vh;
    color: $maincolor;
  }

  .websites {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: 30vw;
    margin-top: 5vh;
    justify-content: space-evenly;

    .left {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 10px;
      padding-bottom: 10px;
      position: relative;

      &:hover {
        img {
          opacity: 0.6;
        }
        .button {
          opacity: 1;
        }
      }

      img {
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        object-fit: contain;
        width: 280px;
        height: 280px;
        box-shadow: 0 0 10px 8px #888888;
      }

      .button {
        opacity: 0;
        transition: .5s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;

        .text {
          background-color: $maincolor;
          color: white;
          font-size: 16px;
          padding: 16px 32px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .left:hover {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 1080px) {
    .images {
      display: flex;
      flex-direction: column;
    }
  }
}
