.introduction {
  background-image: url('https://us.123rf.com/450wm/peshkov/peshkov1706/peshkov170600422/79997931-shelves-with-colorful-books-on-concrete-background-knowledge-concept-copy-space-3d-rendering.jpg?ver=6');
  background-repeat: no-repeat;
  background-size: cover;
}