@import '../global.scss';

.introduction {
  // background-image: url('https://cdn.wallpapersafari.com/62/76/Pb0kFJ.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $maincolor;

  .details {
    margin-top: 24vh;
    margin-left: 35vw;

    h1 {
      font-size: 80px;
      font-weight: 500;
      color: #922fbd;
    }

    p {
      font-size: 25px;
      font-weight: 600;
    }
  }
}