@import '../global.scss';

.introduction {
  color: $maincolor;

  .details {
    width: fit-content;
    text-align: left;
    margin-top: 22vh;
    margin-bottom: 20vh;
    margin-right: 20vw;
    padding-left: 50px;

    h1 {
      font-size: 80px;
      font-weight: 500;
      color: #922fbd;
    }

    p {
      font-size: 25px;
      font-weight: 600;
    }
  }
}